h2 {
  font-size: 14px;
  font-family: "Myriad Pro", "Roboto", "Century Gothic";
  text-align: center;
}

h1, p {
  font-size: 14px;
  font-family: "Myriad Pro", "Roboto", "Century Gothic";
}

img {
    border: 2px solid red;
    background-color: #FFFFFF;
    border-radius:100%;
    max-width: 150px;
    height: auto;
}

.scout {
  text-align: center;
  height: 500px;
}
